<footer>
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-5">
                <h5 style="font-family: 'Lato', sans-serif; font-transform: uppercase;">Another Useless Game Dev Social Link</h5>

                <!-- TWITTER -->
                <span class="fa-stack fa-2x">
                    <a class="panel-social" name="twitter" href="https://twitter.com/{{ site.twitter.page }}" target='_blank'>
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class='fa fa-twitter fa-inverse fa-stack-1x'></i>
                    </a>
                </span>                    
                <!-- FACEBOOK -->
                <span class="fa-stack fa-2x">
                    <a class="panel-social" name="facebook" href="http://www.facebook.com/{{ site.fb.page }}/" target='_blank'>
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class='fa fa-facebook fa-inverse fa-stack-1x'></i>
                    </a>
                </span>
                <!-- RSS -->
                <span class="fa-stack fa-2x">
                    <a name="rss" href="{{ site.url }}/feed.xml" target='_blank'>
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class='fa fa-rss fa-inverse fa-stack-1x'></i>
                    </a>
                </span>
            </div>
            
            <div class="col-sm-3">
                <h5 style="font-family: 'Lato', sans-serif; font-transform: uppercase;">Boring Stuff</h5>
                <p>
                    Terms of service  <br>
                    <a href="{{site.url}}/sitemap.xml">Sitemap</a><br>
                    <a href="{{site.url}}/about/">About Us</a><br>
                </p>                                                                           
            </div>
            
            <div class="col-sm-4">
                <h5 style="font-family: 'Lato', sans-serif; font-transform: uppercase;">Donate</h5>
                <p>
                    Thanks for visiting us! We work for free, nobody pay us for writing articles... But we drink a lot of coffee, so if you like our page consider donating a coffee! We would really appreciate that!
                </p>
                <br>
                <a href="#" class="donate-btn">
                    <i class="fa fa-paypal fa-inverse fa-lg" aria-hidden="true"></i> | 
                    Donate
                    <i class="fa fa-coffee fa-inverse fa-lg" aria-hidden="true"></i>
                </a>                                                                                
            </div>

        </div>
    </div>
        <div class="row last-footer" style="margin-top:20px;">
            <div class="col-md-12 text-center" >
                Copyright &copy; 2016 Another Useless Game Dev Diary. Tutti i diritti riservati.
            </div>
        </div>
        
</footer>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{site.url}}/js/customerPopup.min.js"></script>
<script type="text/javascript" src="{{site.url}}/js/main.js"></script>